<footer class="chat-bar">
    <button class="attach-btn icon-btn"><PlusIcon /></button>
    <form id="chat-form" @onsubmit:preventDefault="true" @onsubmit=InitiateMessage>
        <div class="chat-input">
            @if (!VoiceMode)
            {
                <textarea id="chat-textarea" type="text" rows="1" @bind=text placeholder="Type your message..." oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' style="@(string.IsNullOrEmpty(text) ? "height: fit-content;" : "")" />
            } else
            {
                <textarea id="chat-textarea" type="text" rows="1" @bind=text placeholder="Speak anytime..." oninput='this.style.height = "";this.style.height = this.scrollHeight + "px"' style="@(string.IsNullOrEmpty(transcription) ? "height: fit-content;" : "")" />
            }
        </div>
        @if (!VoiceMode)
        {
            <button id="submit-btn" class="send-btn icon-btn" type=submit><SendIcon /></button>
        } 
        else
        {
            <button id="send-btn" class="record-btn icon-btn" type=submit><MicrophoneIcon /></button>
        }
    </form>
</footer>

@code {
    [Parameter] public bool VoiceMode { get; set; } = false;
    [Parameter] public EventCallback<string> OnSendMessage { get; set; }
    [Parameter] public bool MessageSent { get; set; } = false;

    string? text;
    string? transcription;

    protected override void OnParametersSet()
    {
        if (MessageSent)
        {
            ResetInput();
        }
    }

    void InitiateMessage()
    {
        if (!VoiceMode)
        {
            if (!string.IsNullOrWhiteSpace(text))
            {
                OnSendMessage.InvokeAsync(text);
            }
        } else
        {
            RecordVoiceMessage();
        }
    }

    void RecordVoiceMessage()
    {
        Console.WriteLine("Starting voice message...");
        // logic to record, transcribe, and translate vooice message
    }

    void SendVoiceMessage()
    {
        Console.WriteLine("Sending voice message...");
        // voice message sent as recording with transcription and translation
    }

    void ResetInput()
    {
        text = string.Empty;
        transcription = string.Empty;
    }
}