.chat-bar {
  width: calc(100% - 32px);
  min-height: 60px;
  padding: 0 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  background: white;
  box-shadow: 0 -10px 20px 0 rgba(0, 18, 65, 0.04), 0 -2px 6px 0 rgba(0, 18, 65, 0.04), 0 0 1px 0 rgba(0, 18, 65, 0.04);
  position: relative;
  z-index: 20;
}
.chat-bar form {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.chat-bar form .chat-input {
  width: 100%;
  padding: 6px 12px;
  border-radius: 8px;
  background: var(--grey-100, #F8F8FA);
}
.chat-bar form input {
  width: 100%;
  border: transparent;
  background: none;
  color: var(--grey-500, #616161);
  font-family: Inter;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6rem; /* 123.077% */
}
.chat-bar form button ::deep svg {
  width: 18px;
  height: 18px;
}
.chat-bar form button.record-btn {
  background: var(--orange);
}
.chat-bar form button.record-btn ::deep svg path {
  stroke: white;
}
