:root {
    --black: #000000;
    --white: #FFFFFF;
    --grey-100: #F8F8FA;
    --grey-200: #C9C9C9;
    --grey-300: #999;
    --grey-400: #7A7A7A;
    --grey-500: #616161;
    --grey-600: #474747;
    --grey-700: #333;
    --grey-800: #212121;
    --grey-900: #131313;
    --orange-50: #FCEFE9;
    --orange-100: #F3C7B3;
    --orange-200: #EEAA8E;
    --orange-300: #E88E68;
    --orange-400: #E27242;
    --orange-500: #DB571F;
    --orange-600: #DB571F;
    --orange-700: #AE4619;
    --orange-800: #823312;
    --orange-900: #55220C;
    --olive-50: #F3F3F2;
    --olive-100: #E2E1DF;
    --olive-200: #C9C8C5;
    --olive-300: #B0AFAA;
    --olive-400: #89867F;
    --olive-500: #75726C;
    --olive-600: #615E55;
    --olive-700: #4F4B40;
    --olive-800: #3A362A;
    --olive-900: #2C2920;
    --blue-50: #ECF0F5;
    --blue-75: #E2E9F0;
    --blue-100: #E2E9F0;
    --blue-200: #CFDAE6;
    --blue-300: #ADC1D7;
    --egg-50: #F7F6EF;
    --egg-100: #EBE8D7;
    --egg-200: #DDD8BB;
    --egg-300: #CFC9A5;
    --egg-400: #BBB386;
    --app-width: calc(100vw - 80px);
    --container-width: calc(100% - 46px);
    --sidebar-width: calc(100% - 64px);
    --app-height: calc(100vh - 80px);
    --formiga: formiga, Helvetica, sans-serif;
    --halcom: halcom, Helvetica, sans-serif;
}

html, body {
    font-size: 62.5%;
    font-family: var(--halcom);
    margin: 0;
    position: relative;
    overflow-x: hidden;
}

html ::-webkit-scrollbar, body ::-webkit-scrollbar {
    display: none;
}

html.modal-open, body.modal-open {
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, h7 {
    margin: 0;
    padding: 0;
    font-family: var(--formiga);
}

p, ul, li {
    margin: 0;
    padding: 0;
    font-family: var(--halcom);
}

button, input, select, textarea {
    font-family: var(--halcom), Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border: 1px solid transparent;
    cursor: pointer;
    font-family: var(--halcom);
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 120%; /* 19.2px */
    cursor: pointer;
    transition: .2s ease-in-out;

    > * {
        cursor: pointer;
    }

    > ::deep svg {
        aspect-ratio: 1/1;
        width: 20px;
        height: 20px;
    }

    &:disabled {
        opacity: 0.5;
    }

    &.outlined-btn {
        background: none;

        &:active {
            border-color: transparent;
            background: white;
        }

        &:disabled {
            background: none;
        }
    }

    &.primary-btn {
        height: 40px;
        padding: 16px;
        background: var(--orange-500);
        color: var(--white, #FFF);
        font-weight: 400;
        line-height: 18px; /* 150% */

        &:active {
            background: var(--orange-700);
        }

        &.outlined-btn {
            border-color: rgba(219, 87, 31, 0.20);
            color: var(--orange-500);

            &:disabled {
                color: var(--orange-500)
            }
        }
    }

    &.secondary-btn {
        background: var(--olive-700);

        &:active {
            background: var(--olive-900);
        }

        &.outlined-btn {
            border-color: rgba(79, 75, 64, 0.20);
            color: var(--olive-900);

            &:active {
                border-color: transparent;
            }

            &:disabled {
                color: var(--olive-700);
            }
        }
    }

    &.icon-btn {
        aspect-ratio: 1/1;
        padding: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        border: 1px solid transparent;
        background: none;
        transition: .2s ease-in-out;

        ::deep svg {
            width: 20px;
            height: 20px;
        }

        &:hover {
            box-shadow: 0px 10px 20px 0px rgba(0, 18, 65, 0.04), 0px 2px 6px 0px rgba(0, 18, 65, 0.04), 0px 0px 1px 0px rgba(0, 18, 65, 0.04);
        }
        /*&:active {
            svg {
                path {
                    stroke: var(--tertiary-blue);
                    fill: var(--tertiary-blue);
                }
            }
        }*/
    }

    &.text-btn {
        padding: 0;
        background: none;
        border: none;
        color: var(--grey-600, #474747);
        text-align: center;
        font-family: Poppins;
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        transition: .2s ease-in-out;

        &:hover {
            color: var(--secondary-600);
        }
    }

    &.large-btn {
        height: 64px;
        padding: 16px 24px;
        border-radius: 20px;
    }

    &.medium-btm {
        height: 40px;
        padding: 16px;
        border-radius: 16px;
    }

    &.small-btn {
        height: 32px;
        padding: 16px;
        border-radius: 16px;
    }
}

ul {
    margin: 0;
    padding: 0;

    li {
        margin-left: 16px;
    }
}

hr {
    width: 100%;
    height: 1px;
    border: none;
    background: var(--grey-100);
}

.hljs {
    background-color: transparent !important;
    font-weight: 600 !important;
}

.code-container {
    display: flex;
    padding: 8px;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-radius: 24px;
    background: var(--blue-700, #07374F);

    code {
        color: var(--blue-50, #EFF7F9);
        font-family: "Courier New";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        &.can-copy {
            display: flex;
            padding: 8px;
            align-items: center;
            gap: 8px;
            align-self: stretch;
            border-radius: 24px;
            background: var(--blue-700, #07374F);
        }
    }
}

.code-text {
    color: var(--blue-50, #EFF7F9);
    leading-trim: both;
    text-edge: cap;
    font-family: "Courier New";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}