<div class="bottom-bar">
    <div class="bottom-toggle @(showContent ? "up" : "")" @onclick=ToggleContent>
        @if (showContent)
        {
            <ChevronUpIcon />
        } else
        {
            <ChevronDownIcon />
        }
    </div>
    <section id="bottom-content" class="bottom-content @(showContent ? "show" : "")">
        <header>
            <h3>Please help us confirm your contact details</h3>
            <p class="subheader">Would you like to confirm below contact information for <strong>Adam</strong>?</p>
        </header>
        <ContactCard User=NewContact />
        <div class="contact-actions">
            <button class="confirm-btn secondary-btn">
                <CheckCircledIcon />
                <div>
                    <p>Yes, it's me</p>
                    <aside>My information is up-to-date</aside>
                </div>
            </button>
            <button class="edit-btn secondary-btn">
                <EditIcon />
                <div>
                    <p>I'd like to update</p>
                    <aside>Some information is changed</aside>
                </div>

            </button>
            <button class="reject-btn secondary-btn">
                <CloseIcon />
                <div>
                    <p>No, it's not me</p>
                    <aside>I am not this person</aside>
                </div>
            </button>
            <button class="text-btn">Do you need help?</button>
        </div>
    </section>
</div>

@code {
    bool showContent;
    User? NewContact;

    protected override void OnInitialized()
    {
        Contact contact = new Contact(
            address1: "4228 Homestead Rd",
            address2: null,
            city: "Cedar Hill",
            state: "California",
            postalCode: "38597",
            country: "United States",
            email: "beth@mcn.com",
            homePhone: "(239) 555-00108",
            mobilePhone: "(239) 555-00108",
            workPhone: null
        );

        NewContact = new User(
            firstName: "Beth",
            lastName: "Jones",
            contact: contact,
            prefix: "Miss",
            suffix: null
        );
    }

    void ToggleContent()
    {
        showContent = !showContent;
        Js.InvokeVoidAsync("scrollToElement", "bottom-content");
    }
}