<main>
    <div class="content-toggle @(ShowContent ? "up" : "")" @onclick=ToggleContent>
        @if (ShowContent)
        {
            <ChevronUpIcon />
        } else
        {
            <ChevronDownIcon />
        }
    </div>
    <article id="main-content" class="main-content @(ShowContent ? "show" : "")">
        @ChildContent
    </article>
</main>

@code {
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public bool ShowContent { get; set; }
    [Parameter] public EventCallback OnToggleContent { get; set; }


    void ToggleContent()
    {
        OnToggleContent.InvokeAsync();
    }
}