.layout-container {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 20px;
    background: var(--primary);
    color: var(--blue-50, #EFF7F9);
}

main {
    width: var(--app-width);

    .main-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 16px;

        ::deep article {
            grid-column: 1 / span 4;
        }
    }

    .hero {
        width: var(--app-width);
        height: fit-content;
        position: relative;

        &-img {
            position: absolute;
            top: 40px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;

            ::deep svg {
                width: 263px;
                height: auto;
            }
        }

        &-background {
            width: 827px;
            height: auto;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 0;

            ::deep svg {
                width: 100%;
                height: auto;
            }
        }
    }

    ::deep article {
        width: var(--app-width);
        position: relative;
        z-index: 20;

        .page-container {
            width: 100%;
            max-width: 800px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            gap: 24px;

            section {
                display: flex;
                flex-direction: column;
                gap: 24px;
                padding: 24px;
                background: rgba(79, 129, 153, 0.20);
                border: 1px solid rgba(219, 243, 252, 0.20);
                border-radius: 24px;
                backdrop-filter: blur(4px);

                header {
                    h3 {
                        font-size: 2.5rem;
                        font-weight: 700;
                        line-height: normal;
                    }

                    .subheader {
                        font-family: 'Inter';
                        font-size: 1.6rem;
                        font-weight: 400;
                        line-height: normal;
                    }

                    aside {
                        color: var(--orange-300, #FF945E);
                        font-family: 'Inter';
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                }

                h4 {
                    color: #FFF;
                    font-family: 'Inter';
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
            }
        }
    }

    ::deep table {
        font-family: 'Inter';
        color: var(--blue-50);

        thead {
            color: var(--white, #fff);
            leading-trim: both;
            text-edge: cap;
            font-size: 1.4rem;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }

        tbody {
            font-size: 1.6rem;
            font-weight: 500;

            tr {
                padding-bottom: 16px;

                &:last-child {
                    padding-bottom: 0;
                }
            }
        }
    }

    @media only screen and (min-width: 1080px) {
        .layout-container {
            width: 100vw;
        }

        .main-grid {
            grid-template-columns: repeat(12, 1fr);

            ::deep .home {
                grid-column: 1 / span 3;
            }

            ::deep .main-page {
                grid-column: 4 / span 8;
            }
        }
    }
}