.main-page {
    width: 100%;
    height: 78px;
    background: white;
    color: var(--primary-900) !important;
    position: absolute;
    bottom: -78px;
    left: 0;

    .content-toggle {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        cursor: pointer;

        &:hover {
            ::deep svg {
                animation: bounceDown 1s ease-out infinite;
            }
        }

        &.up {
            &:hover {
                ::deep svg {
                    animation: bounceUp 1s ease-out infinite;
                }
            }
        }
    }

    ::deep .main-content {
        display: none;
        padding: 40px;

        &.show {
            display: flex;
            flex-direction: column;
            gap: 48px;
        }

        div:first-child {
        }

        header {
            display: flex;
            flex-direction: column;
            gap: 16px;

            h3 {
                color: var(--primary, #061032);
                text-align: center;
                font-family: Poppins;
                font-size: 3.1rem;
                font-style: normal;
                font-weight: 600;
                line-height: 36px; /* 116.129% */
            }

            p {
                color: var(--primary, #061032);
                text-align: center;
                font-family: Inter;
                font-size: 1.7rem;
                font-style: normal;
                font-weight: 400;
                line-height: 24px; /* 141.176% */
                letter-spacing: -0.24px;
            }
        }

        .contact-actions {
            display: flex;
            flex-direction: column;
            gap: 8px;

            button {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                gap: 24px;

                div {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: start;
                    gap: 4px;

                    p {
                        color: var(--grey-900, #131313);
                        font-family: Poppins;
                        font-size: 1.4rem;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 20px; /* 142.857% */
                    }

                    aside {
                        color: var(--grey-600, #474747);
                        font-family: Poppins;
                        font-size: 1.4rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 20px; /* 142.857% */
                    }
                }

                &:last-child {
                    width: fit-content;
                    margin: 0 auto;
                    margin-top: 12px;
                }
            }
        }
    }

    @media only screen and (min-width: 1080px) {
        position: static;
    }
}

@keyframes bounceDown {
    20% {
        transform: translateY(4px);
    }

    80% {
        transform: translateY(0);
    }
}

@keyframes bounceUp {
    20% {
        transform: translateY(-4px);
    }
    80% {
        transform: translateY(0);
    }
}