.top-bar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;

    .logo {
        ::deep svg {
            width: 240px;
            height: auto;
        }
    }
}