@page "/"

<PageTitle>Tovik</PageTitle>

<section>
    Hello, this is Tovik, a cooperative tech project.
</section>

<section>
    Domains registered:

    @foreach (var domain in Domains)
    {
        <article>
            @domain.Domain
        </article>
    }
</section>

@inject IRepository<SparcDomain> SparcDomains
@code {
    private List<SparcDomain> Domains = new();
    protected override async Task OnInitializedAsync()
    {
        Domains = await SparcDomains.Query.ToListAsync();
    }
}