@page "/"
@using Sparc.Blossom.Authentication
@using Sparc.Engine.Aura
@layout HomeLayout

<PageTitle>Tovik</PageTitle>


@if (Avatar != null)
{
    <article class="home">
        <div class="page-container">
            <section class="demo">
                <header>
                    <img src="/images/site-frame.svg" alt="Web browser facade" />
                </header>
                <div>
                    <h1>Your Website, Multilingual in Minutes</h1>
                    <p>
                        Meet Tovik: A simple website plugin that turns your site multilingual without the need for coding or developers.
                    </p>
                    <p>
                        With one line of code, Tovik detects your users' native language and translates your entire site into their language, helping you connect with more people around the world. It’s fast, easy, and requires no technical expertise.

                    </p>
                    <p>
                        In fact, this site’s running Tovik behind the scenes. If you can read this, Tovik has done its job!
                    </p>

                    <h2>Try Tovik in Any Language:</h2>
                    <Sparc.Blossom.SparcEngine.Tovik.LanguageSelector Avatar="Avatar" />
                </div>
            </section>

            <section class="trial">
                <img src="/images/Star.svg" alt="Star" />
                <div>
                    <h2>
                        Try It On Your Website
                        <span>Free</span>
                    </h2>
                    <p>
                        Enter your website's domain name below to get 1,000 words of translation completely free, no strings attached, no expiration date, and no login required.
                    </p>
                    @if (Error != null)
                    {
                        <div class="error-message">@Error</div>
                    }

                    <label>
                        <input type="text" placeholder="Enter your website's domain name" @bind="NewDomain" @bind:event="oninput" />
                    </label>
                    <div class="btn-container">
                        <button class="add-btn primary-btn" disabled="@(string.IsNullOrWhiteSpace(NewDomain))" @onclick=AddDomain>Activate Tovik</button>
                    </div>
                </div>
            </section>
        </div>
    </article>
}

@inject Tovik.Domains.TovikDomains TovikDomains
@inject ISparcAura Aura
@code {
    BlossomAvatar? Avatar;
    string NewDomain = "";
    string? Error;

    protected override async Task OnInitializedAsync()
    {
        var user = await Aura.UserInfo();
        if (user.HasProduct("Tovik"))
            Start();

        Avatar = user.Avatar;
    }

    void Start()
    {
        Nav.NavigateTo("/sites");
    }


    private async Task AddDomain()
    {
        if (string.IsNullOrWhiteSpace(NewDomain))
            return;

        Error = null;
        try
        {
            await TovikDomains.RegisterAsync(NewDomain);
            NewDomain = "";
            Nav.NavigateTo("/sites");
        }
        catch (Exception ex)
        {
            Error = ex.Message;
            NewDomain = "";
        }
    }
}