@page "/"
@using Sparc.Engine.Aura
@layout MainLayout

<PageTitle>Tovik</PageTitle>

<article class="home">
    <div class="page-container">
        <img src="/images/site-frame.svg" />
    </div>
</article>

@inject Tovik.Domains.TovikDomains TovikDomains
@inject ISparcAura Aura
@code {
}