@page "/"

<PageTitle>Tovik</PageTitle>

<article class="home">
    <div class="page-container">
        <section class="word-usage">
            <header>
                <h3>Word Usage</h3>
                <p class="subheader">Tovik includes 100,000 words by default. If you need additional words, you can purchase a word pack anytime.</p>
            </header>
            <div>
                <h4>Remaining words</h4>
            </div>
            <div class="btn-container">
                <button classs="purchase-btn">Purchase a Word Pack</button>
            </div>
        </section>
        <section class="add-domain">
            <form @onsubmit="AddDomain">
                <header>
                    <h3>Add a Domain</h3>
                    <p class="subheader">There’s no limit to the number of domains you can add.</p>
                </header>
                <div>
                    <label>
                        <input type="text" placeholder="Enter a domain name" @bind="NewDomain.Domain" />
                    </label>
                </div>
                <div class="btn-container">
                    <button class="add-btn">Add Domain</button>
                </div>
            </form>

        </section>
        <section class="manage-domains">
            <header>
                <h3>Manage Domains</h3>
                <p class="subheader">You can add or remove domains at anytime.</p>
            </header>
            <table class="domains-table">
                <thead>
                    <tr>
                        <th>Your Domain</th>
                        <th>Usage</th>
                        <th><!-- actions --></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var domain in Domains)
                    {
                        <tr>
                            <td>
                                @domain.Domain
                                <i class="fa-solid fa-circle-check verified-icon" aria-label="verified"></i>
                            </td>
                            <td>24,168</td>
                            <td class="actions">
                                <button class="btn btn-manage">Manage</button>
                                <button class="btn btn-manage">Edit</button>
                                <button @onclick="() => DeleteDomain(domain)" class="btn btn-manage">Delete</button>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </section>
    </div>
</article>

@inject IRepository<SparcDomain> SparcDomains
@code {
    private List<SparcDomain> Domains = new();
    private SparcDomain NewDomain = new SparcDomain("");
    protected override async Task OnInitializedAsync()
    {
        await LoadDomains();
    }

    private async Task LoadDomains()
    {
        Domains = await SparcDomains.Query.ToListAsync();
        StateHasChanged();
    }

    private async Task AddDomain()
    {
        if (string.IsNullOrWhiteSpace(NewDomain.Domain))
        {
            return;
        }
        await SparcDomains.AddAsync(NewDomain);
        NewDomain = new SparcDomain("");
        await LoadDomains();
    }

    private async Task DeleteDomain(SparcDomain domain)
    {
        await SparcDomains.DeleteAsync(domain);
        await LoadDomains();
    }
}