footer {
    width: calc(100% - 64px);
    height: 64px;
    padding: 16px 32px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 32px 32px 0 0;
    background: var(--surface-high-contrast);

    button {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 4px;
        background: none;
        color: var(--menu-icon-normal);

        &.active {
            color: var(--menu-icon-selected);

            ::deep svg {
                path {
                    stroke: var(--menu-icon-selected);
                }
            }
        }

        span {
            text-align: center;
            font-family: Halcom;
            font-size: 1.2rem;
            font-style: normal;
            font-weight: 500;
            line-height: 120%; /* 14.4px */
            letter-spacing: -0.12px;
        }
    }
}
