<footer class="bottom-bar">
    <button class="friends-btn @(ActiveTab == "Friends" ? "active" : "")">
        <FriendsIcon Color="var(--egg-50)" />
        <span>Friends</span>
    </button>
    <button class="chats-btn @(ActiveTab == "Chats" ? "active" : "")">
        <ChatsIcon Color="var(--egg-50)" />
        <span>Chats</span>
    </button>
    <button class="more-btn @(ActiveTab == "More" ? "active" : "")">
        <MoreSettingsIcon Color="var(--egg-50)" />
        <span>More</span>
    </button>
</footer>

@code {
    [Parameter] public string ActiveTab { get; set; } = "Friends";
}