:root {
    --black: #000000;
    --white: #FFFFFF;
    --blue-700: #07374F;
    --blue-600: #1F5068;
    --blue-550: #2C5569;
    --blue-500: #376880;
    --blue-400: #4F8199;
    --blue-300: #9ED2F0;
    --blue-200: #BBE0F5;
    --blue-100: #E7F4FB;
    --blue-300: #DBF3FC;
    --blue-200: #E6F9FF;
    --blue-100: #F6FCFE;
    --blue-50: #EFF7F9;
    --orange-300: #FF945E;
    --orange-200: #FFB48E;
    --orange-100: #FFD4BF;
    --app-width: calc(100vw - 32px);
    --brother-printed: "brother-1816-printed", sans-serif;
    --articulat: "articulat-cf", sans-serif;
}