﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["css/app.css"]" />
    <link rel="stylesheet" href="@Assets["Sparc.Tovik.Razor.styles.css"]" />
    <link rel="icon" href="images/Logo.svg" sizes="any" type="image/svg+xml" />
    <link rel="stylesheet" href="https://use.typekit.net/mur1cay.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://use.typekit.net/bdd5udm.css">
    <script src="https://js.stripe.com/v3"></script>
    <script src="@Assets["js/stripeIntegration.js"]"></script>
    <ImportMap />
    
    <HeadOutlet @rendermode="InteractiveServer" />
</head>
<body>
    <Sparc.Blossom.BlossomApp Program="Program" DefaultLayout="MainLayout" @rendermode="new InteractiveServerRenderMode(false)" />

    <script src="_framework/blazor.web.js"></script>
</body>
</html>