main {
    width: var(--app-width);
    padding: 0 16px;
    padding-bottom: 24px;
    color: var(--blue-50);

    .main-grid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 16px;

        ::deep article {
            grid-column: 1 / span 4;
            margin-top: 200px;
        }
    }

    .hero {
        width: var(--app-width);
        height: fit-content;
        position: relative;

        &-img {
            position: absolute;
            top: 40px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;

            ::deep svg {
                width: 263px;
                height: auto;
            }
        }

        &-background {
            width: 827px;
            height: auto;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 0;

            ::deep svg {
                width: 100%;
                height: auto;
            }
        }
    }
}
