<nav>
    <div class="right">
        <button class="profile-btn">
            <img src="/images/Profile.svg" />
        </button>
        <button class="menu-btn">
            <MenuIcon />
        </button>
    </div>
    <div class="nav-mask">
        <img src="/images/NavShape.png" />
    </div>
</nav>