@page "/sites"
@using Sparc.Engine.Aura
@using Sparc.Engine.Billing
@using Tovik.Installation
@layout MainLayout

<PageTitle>Tovik - My Websites</PageTitle>

<article class="home">
    <div class="page-container">
        @if (Usage == 0)
        {
            <section class="welcome">
                <img src="/images/Star.svg" alt="Star" />
                <header>
                    <h3>Welcome to Tovik!</h3>
                </header>
                <p>
                    We're so happy you've decided to try Tovik.
                </p>
                <p>
                    To install Tovik, add this line of code to your site, preferably just before the closing <code>&lt;&sol;body&gt;</code> tag:
                </p>
                <CodeBlock CanCopy=true>
                    @("<script type=\"module\" src=\"https://tovik.app/tovik.js\"></script>")
                </CodeBlock>
                <p>
                    That’s it! Tovik will now detect your visitors’ browser language and display your site in their language automatically.
                </p>
                <aside>
                    This message will disappear once we successfully detect the Tovik tag on your website.
                </aside>
            </section>
        }

        <section class="word-usage">
            <header>
                <h3>Word Usage</h3>
            </header>

            @if (IsTrial)
            {
                <p>Your free trial of Tovik includes 1,000 words to start. Once you need to translate additional words, click the button below to purchase a word pack.</p>
            }
            else
            {
                <p>Thank you for purchasing Tovik! Your purchase includes 100,000 words of translation. If you ever need to translate additional words, click the button below to purchase a word pack.</p>
            }
            <div>
                <h4>Words Translated</h4>
                <UsageMeter Usage=Usage Limit=Limit />
            </div>
            @if (Product != null)
            {
                <div class="btn-container">
                    <button class="purchase-btn primary-btn" @onclick=GoToStore>Add 100,000 words (@Product.FormattedPrice)</button>
                </div>
            }
        </section>

        <section class="manage-domains">
            <header>
                <h3>My Websites</h3>
            </header>
            @if (IsTrial)
            {
                <p>Once you purchase Tovik, make sure you add your websites here. Tovik usage over 1,000 words will only be allowed on the websites you specify below.</p>
            }
            else
            {
                <p>Add all of your Tovik-enabled websites here. Tovik usage over 1,000 words will only be allowed on the websites you specify below.</p>
            }
            <table class="domains-table">
                <thead>
                    <tr>
                        <td>Domain</td>
                        <td>Usage</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var domain in Domains)
                    {
                        <DomainCard Domain=domain PageType="home" OnDelete=DeleteDomain />
                    }
                </tbody>
                @if (!Domains.Any())
                {
                    <tfoot>
                        <tr>
                            <td colspan="3">
                                <aside>
                                    Looks like you haven't added any sites yet. Go ahead and add your first website in the box below!
                                </aside>
                            </td>
                        </tr>
                    </tfoot>
                }
            </table>

            @if (Error != null)
            {
                <div class="error-message">@Error</div>
            }

            <label>
                <input type="text" placeholder="Enter a domain name" @bind="NewDomain" @bind:event="oninput" />
            </label>
            <div class="btn-container">
                <button class="add-btn primary-btn" disabled="@(string.IsNullOrWhiteSpace(NewDomain))" @onclick=AddDomain>Add This Website</button>
            </div>
        </section>
    </div>
</article>

@inject Tovik.Domains.TovikDomains TovikDomains
@inject ISparcAura Aura
@inject IConfiguration Config
@inject ISparcBilling Billing

@code {
    List<SparcDomain> Domains = new();
    string NewDomain = "";
    string? Error;
    GetProductResponse? Product;

    int Usage;
    int Limit;
    bool IsTrial => Limit < 100000;

    protected override async Task OnInitializedAsync()
    {
        var user = await Aura.UserInfo();
        var product = user.Product("Tovik");

        if (product == null) // Start free trial
            product = await Aura.Activate("Tovik");

        await LoadDomains();
        Limit = product.MaxUsage;
        Usage = Domains.Sum(d => d.TovikUsage);
        Product = await Billing.GetProductAsync(Config["ProductId"]!);
    }

    private async Task GoToStore()
    {
        var totp = await Aura.GetSparcCode();
        if (totp != null)
            Nav.NavigateTo($"{Config["SparcStore"]}?_auth=totp:{totp.Code}");
    }

    private async Task LoadDomains()
    {
        Domains = await TovikDomains.All();
    }

    private async Task AddDomain()
    {
        if (string.IsNullOrWhiteSpace(NewDomain))
            return;

        Error = null;
        try
        {
            await TovikDomains.RegisterAsync(NewDomain);
            NewDomain = "";
            await LoadDomains();
        }
        catch (Exception ex)
        {
            Error = ex.Message;
            NewDomain = "";
        }
    }

    private async Task DeleteDomain(SparcDomain domain)
    {
        await TovikDomains.DeleteAsync(domain);
        await LoadDomains();
    }
}