<nav>
    <div class="right">
        <Sparc.Blossom.Authentication.SparcAvatar />
        <button class="menu-btn">
            <MenuIcon />
        </button>
    </div>
    <div class="nav-mask">
        <img src="/images/NavShape.png" />
    </div>
</nav>