<nav>
    <div class="right">
        <Sparc.Engine.Client.Aura.SparcAura />
        <button class="menu-btn" @onclick=ToggleMobileMenu>
            <MenuIcon />
        </button>
    </div>
    <div class="nav-menu @(showMobileMenu ? "show" : "")">
        <SecondaryLogo />
        <ul>
            @* <li><NavLink class="nav-link" href="/demo" ActiveClass="active" @onclick=ToggleMobileMenu><BubbleTail />Demo</NavLink></li> *@
            <li><NavLink class="nav-link" href="/domains" ActiveClass="active" @onclick=ToggleMobileMenu><BubbleTail />Domains</NavLink></li>
            <li><NavLink class="nav-link" href="/install" ActiveClass="active" @onclick=ToggleMobileMenu><BubbleTail />Installation</NavLink></li>
        </ul>
    </div>
    <div class="nav-mask">
        <img src="/images/NavShape.png" />
    </div>
</nav>
<div class="nav-overlay @(showOverlay ? "show" : "") @(hideOverlay ? "hiding" :"")" @onclick=ToggleMobileMenu></div>
<div class="nav-sidebar">
    <div class="nav-menu @(showMobileMenu ? "show" : "")">
        <PrimaryLogo FontColor="#FF945E" />
        <ul>
            @* <li><NavLink class="nav-link" href="/demo" ActiveClass="active" @onclick=ToggleMobileMenu><BubbleTail />Demo</NavLink></li> *@
            <li><NavLink class="nav-link" href="/domains" ActiveClass="active" @onclick=ToggleMobileMenu><BubbleTail />Domains</NavLink></li>
            <li><NavLink class="nav-link" href="/install" ActiveClass="active" @onclick=ToggleMobileMenu><BubbleTail />Installation</NavLink></li>
        </ul>
    </div>
</div>

@code {
    bool showMobileMenu;
    bool showOverlay;
    bool hideOverlay;

    async Task ToggleMobileMenu()
    {
        showMobileMenu = !showMobileMenu;

        if (showMobileMenu)
        {
            showOverlay = true;
            hideOverlay = false;
        } else
        {
            hideOverlay = true;
            StateHasChanged();
            await Task.Delay(800);
            showOverlay = false;
            hideOverlay = false;
        }
    }
}